<div class="container py-5">
	<h2>Schedule</h2>
	<table class="table table-striped">
		<tr>
			<th>
				Day 1
			</th>
			<th>
				Day 2
			</th>
		</tr>
		<tr>
			<td>
				10:00 Welcome
			</td>
			<td>
				10:00 Leaderboard check-in, encourage ongoing mapping
			</td>
		</tr>
	</table>


</div>
